Package: com.freemanrepo.mediaspeak
Name: MediaSpeak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: speak on upcoming songs
Maintainer: FreeManRepo
Author: FreeManRepo
Section: Tweaks
